<ion-tabs>
  <ion-tab-bar slot="bottom">

    <!-- <ion-tab-button [tab]="t.tab" *ngFor="let t of taps">
      <ion-icon [name]="t.icon"></ion-icon>
      <ion-label>{{ t.label }}</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="mis-productos">
      <ion-icon 
        class="tab-icon" 
        src="assets/images/icon_my_products_gray.svg">
      </ion-icon>
      <ion-label>Mis productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transacciones">
      <ion-icon 
        class="tab-icon" 
        src="assets/images/icon_transactions_gray.svg">
      </ion-icon>
      <ion-label>Transacciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ofertas">
      <ion-icon 
        class="tab-icon" 
        src="assets/images/icon_offers_gray.svg">
      </ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon 
        class="tab-icon" 
        src="assets/images/icon_config_gray.svg">
      </ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
