<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title class="tab-main-title" size="small">Mis productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Cuentas ({{ accounts.length }})</h2>
  
  <app-product-card 
    *ngFor="let account of accounts; let i = index"
    [product]="account"
    [index]="i+1"
    [routeLink]="['product-detail/', account.productType, account.number]"
    >
  </app-product-card>

  <h2>Tarjetas ({{ creditCards.length }})</h2>

  <app-product-card 
    *ngFor="let cc of creditCards; let i = index"
    [index]="i+1"
    [product]="cc"
    [routeLink]="['product-detail/', cc.productType, cc.number]"
    >
  </app-product-card>

</ion-content>
