<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="login-logo">
      <img 
        src="assets/images/bhd_logo.png" 
        alt=""
        routerLink="/slides">
    </div>
  
    <ion-item class="login-ion-item">
      <ion-img 
        position="floating" 
        class="login-input-icon" 
        src="assets/images/icon_user.svg">
      </ion-img>
      <ion-input 
        type="text"
        formControlName="user" 
        placeholder="Documento de identidad">
  
      </ion-input>
    </ion-item>
  
    <ion-item class="login-ion-item">
      <ion-img 
        position="floating" 
        class="login-input-icon" 
        src="assets/images/icon_password.svg">
      </ion-img>
      <ion-input 
        type="password" 
        formControlName="password" 
        placeholder="Contraseña">
      </ion-input>
    </ion-item>
  
    <div class="login-ion-toggle">
      <ion-toggle slot="start" formControlName="remember"></ion-toggle>
      <ion-label>Recuerda mi usuario</ion-label>
    </div>
  
    <ion-button
      type="submit"
      class="login-button" 
      expand="block">
      Iniciar Sesión
    </ion-button>

  </form>


</ion-content>
