ion-content {
  height: 100vh;
}

ion-slides {
  height: 100%;
}

.swiper-slide {
  display: block;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content {
  width: 155px;
  h1 {
    font-size: 22px;
    margin-bottom: 138px;
  }
}

.slide-content-wider {
  width: 290px;
  h1 {
    font-size: 22px;
    margin-bottom: 138px;
  }
  ion-img {
    width: 155px;
    margin: auto;
  }
}
