<ion-content fullscreen class="ion-padding">

  <ion-slides pager="true" >

    <ion-slide class="slide-container">
      <div class="slide-content">
        <h1>Puedes ver tus productos</h1>
        <ion-img src="assets/images/slide_1.svg"></ion-img>
      </div>
    </ion-slide>

    <ion-slide class="slide-container">
      <div class="slide-content-wider">
        <h1>Ahorra tiempo realizando transacciones de forma rápida y segura</h1>
        <ion-img 
          src="assets/images/slide_2.svg">
        </ion-img>
      </div>
    </ion-slide>

    <ion-slide class="slide-container">
      <div class="slide-content">
        <h1>Aprovecha las ofertas que tenemos para ti</h1>
        <ion-img src="assets/images/slide_3.svg"></ion-img>
      </div>
    </ion-slide>

  </ion-slides>

  <ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>
